/*Styling entire Body content of Home*/

body{
	/*color:red;*/
	/* background:#f5f5f0; */
	background-image:url("../images/TopImages/Wood-Wall3-1680x1050-hdwallpapers.us.jpg");
	background-size: cover;
	font-family:Verdana;
	font-size:1.125em;				
	overflow:auto;
	background-attachment:fixed;
	}
	
#wrapper{
	/* overflow:auto; */
	margin: auto;
	max-width:2000px;
	width:97%;
	background:white;
	/*border-radius:10px;*/
	/* box-shadow: 10px 10px 60px 10px gray; */
}
	
*{	/*Making everything responsive*/
    box-sizing: border-box;
	outline: none;
}

p,h1,h2,h3,h4,h5,h6,pre,a{
	color: #404040;;
}












/*Styling page headings of Home*/

#topeaderWrapper{
	margin: auto;
	position: fixed;
	/* border: 1px solid blue; */
	width: 100%;
	top: 0;
	left: 0;
	right:0;
	z-index: 100;
	 
	padding-left: 1.5%;
	padding-right: 1.5%;
}

#topheader{
	height: 70px;
	margin: auto;
	background-color:#f2f2f2;
	text-align: center;
	border: 1px solid #f2f2f2;
	width: 100%;
	/* overflow:auto; */
	/* border: 1px solid blue; */ 
}

.gospelempire{
	position: fixed;
	margin-top:5px;		
	right: 0;
	top: 0;
	left: 0;
	font-family:Andalus;
	font-size: 1.875em;
	color:#262626;
	/*border: 1px solid blue;*/
}

.talent{
	margin-top:45px;				
	font-family:Tempus Sans ITC;
	font-size:0.75em;
	color:#262626;
}














/*Styling drop down menu of Home*/

.dropdownmenus{
	/*padding-top: 10%;*/
	top: 70.3;
	left: 0;
	right:0;
    z-index: 100;
	position: fixed;
    width: 100%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 10%;
	 
	/*border: 1px solid blue;*/
	
}


	
.dropdownmenus ul{
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#737373;}

.dropdownmenus ul li{
	float:left;
	display:block;
	color:#f2f2f2;
	text-align:center;
	margin: 0;
    padding: 0;
}

.ulSide{
	float:right;
	list-style-type:none;
}
.dropdownmenus li a{
	font-size:1.125em;
	display:block;
	color:#f2f2f2;
	text-align:center;
	padding:5px 14px;
	text-decoration:none;
	font-family:Candara;
	-webkit-transition: background-color 0.7s; 
    transition: background-color 0.7s;
	-moz-transition: background-color 0.7s; 
	-o-transition: background-color 0.7s;
}

.dropdownmenus li a:hover:not(.active){
	
	background-color:#000000;
	color: white;
}

.active {
    /* color: red; */
    background-color: #000000;
	color: white;
}

/* .dropdownmenus,header,ul,li,a{
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
} */

/* body,.dropdownmenus li a{
	transition: font-size 1s;
	-moz-transition: font-size 1s;
	-webkit-transition: font-size 1s;
	-o-transition: font-size 1s;
} */

/* .navbar-fixed {
    
} */














/*Styling Main top content section of home page*/

.whatsnew{
	color: #404040;
	font-family:AR JULIAN;
	font-size: 1.5em;
	padding-top: 30px;
	padding-bottom: 0;
}


.clearspace{
	clear:both;
}

.clearspacebtwnTopAndMidBody{
	clear:both;
	padding: 2%;
}


















/*Mid Table Slide Cards*/

.sliceResponsive{
	padding-left: 50px;
	margin-top: 10%;
	width: 80%;
}

.slices{
	/* border: 1px solid blue; */
	font-size: 1.5em;
	list-style-type:none;
	background-color: #595959;
	
}

.sliceHead{
	/* border: 1px solid blue; */
	color: #f2f2f2;
	font-family:David;
	font-size: 1.1em;
	padding-bottom: 2%;
	padding-left: 0;
	width: 50%;
	
}

.slice{
	/* border: 1px solid blue; */
	font-family: Verdana;
	font-size: 0.7em;
	padding: 7%;
	color: #f2f2f2;
}

.slice:hover, .slice:focus, .slice:active{
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24),0 10px 70px 0 rgba(0,0,0,0.19);
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
	color: white;
	
	background: #595959; 
    background: -webkit-linear-gradient(#595959, #262626); 
    background: -o-linear-gradient(#595959, #262626); 
    background: -moz-linear-gradient(#595959, #262626); 
    background: linear-gradient(#595959, #262626);
}

.slice{
	border-bottom:solid 2px #262626;
	
}

span{
	word-break: keep-all;
	word-wrap: break-word;
	
}

.linkAdd{
	color: orange;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	font-style: italic;
	text-decoration:none;
}

.linkAdd:hover{
	color:white;
	
}


/*END Mid Table Slide Cards*/
























	/*Styling mid table content*/
	
.img {
    border: 1px solid #ccc;

}

.img:hover {
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border: 1.5px solid #777;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	
	}

.responsiveWrapperLeft .img img {
    width: 100%;
    height: 100%;
	
}

.responsiveWrapperRight .img img {
    width: 100%;
    height: 75%;
	
}

.responsiveWrapperLeft .desc {
    padding: 10px 1 0px 1;
	margin-top:5;
    text-align: left;
	overflow: auto; 
	word-break: keep-all;
	background-color: #f2f2f2;
	/* font-family: AR JULIAN */
	
}


.responsiveWrapperRight .desc {
    padding: 10px 1 0px 1;
    text-align: left;
	overflow: auto; 
	word-break: keep-all;
	/* word-break: break-all; */
	/* border: 1px solid blue; */ 
	
}


* {
    box-sizing: border-box;
}

.responsive {
    padding-right: 10px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 200px;
    float: left;
    width: 95%;
	height: 130%;
}

.responsiveWrapperLeft{
	float: left;
    width: 60%;
	
}

.responsiveWrapperRight{
	float: left;
    width: 35%;
	/* border: 5px solid black; */
	border-style: ridge;
	padding-bottom: 10;
	height: auto;
}

.responsiveWrapperRight h3{
	text-align: center;
}

.responsiveWrapperRight .responsive{
	float: left;
    width: 100%;
	height: 100%;
	padding-bottom: 150;
	padding-left: 15px;
}















/*Play and download Buttons*/

.playDownload{
    background-color: #262626; /* Green */
    border: none;
    color: #f2f2f2;
    padding: 10px 10px;
	margin-top:2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875em;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	border-radius: 3px;
	outline: none;
}

.playDownload:hover {
	color: #ffffff;
	background-color: #0066cc;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.24),0 7px 10px 0 rgba(0,0,0,0.19);
	}







	
	

	
	

/*CSS for styling onclick images*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
	
	
	
	
	

	
	
	
	
	
	
/*Search Stuff*/
.searchForm{
	margin: 1.7px 1px;
	padding-bottom: 5;
	padding-top: 4.2;
	text-align: center;
	
}

.searchForm[type=text] {
    box-sizing: border-box;
    border: 2px solid #bfbfbf;
    transition: 0.5s;
    outline: none;
}

.searchForm[type=text]:focus {
    border: 2px solid #404040;
	border-radius: 4px;
}

	
	
	
	
	
	
	
	
	
	
/*FOOTER*/

.footer{
	width: 100%;
	height: auto;
	margin-top:50px;
	background-color: #808080;
	text-align:center;
	/* overflow: auto;  */
	
}

.footer ul{
	list-style-type:none;
}

.footer{
	
	background: #4d4d4d; 					
    background: -webkit-linear-gradient(#4d4d4d, #999999); 
    background: -o-linear-gradient(#4d4d4d, #999999); 
    background: -moz-linear-gradient(#4d4d4d, #999999); 
    background: linear-gradient(#4d4d4d, #999999);
	
}

.styleMe2{
	font-family:Aharoni;
	color: #ffffff;
	text-align:center;
	/* margin-bottom: -500; */
}

.footerdata1,.footerdata2,.footerdata3 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 50px;
    float: left;
    width: 33.333333%;
	height: auto;
	/* border: 1px solid red; */
}

.listHead1{
	font-family:Aharoni;
	font-size: 15;
	padding-bottom:1;
	padding-top:30;
	color: white;
	/* margin-left: 100; */
}

.listHead{
	color: #f2f2f2;
	font-size: 14;
	/* margin-left: 100; */
}

.listHead:hover {
	-webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
	color: #0d0d0d;
	
}

.stay{
	padding-top: 30px;
}

.footerdata1 p,.footerdata2 p,.footerdata3 p{
	font-size: 16;
	font-family:Aharoni;
	color: #ffffff;
}

.footerdata1 ul,.footerdata2 ul,.footerdata3 ul {
	
	display:inline;
	text-align:left;
	list-style-type:none;
	
}

.footerdata1 ul a,.footerdata2 ul a,.footerdata3 ul a{
	text-decoration:none;
}

.DesignedBy:hover{
	color: #0d0d0d;
	-webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
	
}

.DesignedBy{
	color: #f2f2f2;
	font-size: 14;
}












/*Start Styling social media in Footer*/

.fa-hand-o-up{
	color: #e6e6e6;
	
}

.fa-hand-o-up:hover{
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
	-webkit-filter: inve rt(100%); /* Chrome, Safari, Opera */
    color: #000000;
	
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  outline: none;
  
}


.fa-facebook:hover {
	-webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
    background: #3B5998;
}

.fa-twitter:hover {
	-webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
    background: #55ACEE;
}

.fa-youtube:hover {
	-webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
    background: #bb0000;
}

.fa-facebook {
  
  background: #1a1a1a;
  color: white;
  margin: 1;
}

.fa-twitter {
  background: #404040;
  color: white;
  margin: 1;
}

.fa-youtube {
  background: #000000;
  color: white;
  margin: 1;
}


/*END Styling social media*/



	
	
	
	
	
	
	
	
	
	
	
/*Style song details*/	
	
.dataTable {
    border-collapse: collapse;
	text-overflow:ellipsis;
	font-size: 18;
}

.data{
	font-family:AR JULIAN;
	font-weight: bold;
	font-size: 19;
	color: #804c00;
}

.title,.artist,.album,.genre,.downloads,.size{
    /* border: 1px solid black; */
	text-overflow:ellipsis;
	word-break: keep-all;
	/* font-style: italic; */
	font-family:Cambria;
	color: #804c00;
	
}

td{
	padding-left:3%;
}















/*Changing screen size styling*/

@media screen and (max-width: 1050px){
	
	.dropdownmenus {
	/*box-shadow: 0px 0px 0px;*/
	/*border: 1px solid blue;*/
	}
	
	.sliceResponsive{
		margin-top: 13%;
	}
	
	body,.dropdownmenus li a{
	font-size:1.09375em;
	}
	
	.whatsnew{
		font-size:1.3em;
	}
 
}

@media screen and (max-width: 1000px){
	
	body,.dropdownmenus li a{
	font-size:1.0625em;
	}
	
	
	.whatsnew{
		font-size:1.3em;
	}
	
}

@media screen and (max-width: 950px){
	
	
	
	body,.dropdownmenus li a{
	font-size:1.02em;
	}
	
	.whatsnew{
		font-size:1.3em;
	}
	
}

@media screen and (max-width: 850px){
	
	.sliceResponsive{
		margin-top: 15%;
	}
	
	body,.dropdownmenus li a{
	font-size:1em;
	}
 
	.whatsnew{
		font-size:1.3em;
	}
	
}

@media screen and (max-width: 800px){
	
	body,.dropdownmenus li a{
	font-size:1.0625em;
	}
	
	.whatsnew{
		font-size:1.3em;
	}
	
}

@media screen and (max-width: 750px){
	
	.responsiveWrapperRight .responsive{
		height: 140%;
		padding-bottom: 120;
		
	}
	
	.sliceResponsive{
		margin-top: 17%;
	}
	
	.dropdownmenus li a{
		font-size:1.02em;		/*12px*/
	}
	
	body{
		font-size:1.02em;		/*11px*/
	}
	
}

@media screen and (max-width: 730px){
	
	.centerForm{
		padding-top: 85;
	}
	
	.gospelempire{
		margin-top:-6px;
		font-size: 1.69em;
	}
	
	.talent{
		font-size:0.65em;
		margin-top:27px;
	}
	#topheader{
		height: 43px;
	}
	
	.dropdownmenus{
		top: 42;
	}
}


/*Small screen display*/
@media screen and (max-width: 530px){
	
	.sliceResponsive{
		margin-top: 130;
		width:99%;
		padding-left: 1%;
	}
	
	.responsiveWrapperLeft {
        width: 99%;
        
    }
	
	.responsiveWrapperLeft .responsive{
        width: 100%;
        
    }
	
	.responsiveWrapperRight {
		width: 100%;
		
	} 
	
	.responsiveWrapperRight .responsive{
		width: 100%;
		height: 110%;
		
	}
	
	
	#topeaderWrapper{
		/* box-shadow: 30px 2px 150px 0px gray; */
	}
	
	.dropdownmenus li a{
		font-size:1.02em;	
	}
	
	body{
		font-size:1.0625em;
	}
	
	.whatsnew{
		font-size:1.3em;
	}
	
	
	/**********************/
	
	.centerForm{
		padding-top: 120;
	}
	
	.dropdownmenus {
		width:100%;
		margin-bottom: -110px;
		margin-top: 43;
		/* box-shadow: 30px 0px 70px 0px white; */
		position: static;
		padding-left: 0%;
		padding-right: 0%;

	}
	.dropdownmenus ul{
		list-style:none;
		margin:0 auto;
		padding-left:0;

		}
		
	.dropdownmenus ul li{
		text-align:center;
		margin-left:0 auto;
		width:100%;
		border-top:1px solid #333333;
		border-right: 0px;
		border-bottom: 1px solid #333333;								
		border-left: 0px;
		}
	.dropdownmenus ul li a{
		padding: 6px 0;
	}
	
		
	.ulSide{width:100%;}
	
}

@media screen and (max-width: 415px){
	.footerdata2,.footerdata3 ul{
		display: none;
	}
	
	.footerdata3{
		height: 0%;
		float: right;
		width: 1%;
	}
	
	.footerdata1{
		width: 85%;
		
	}
	
}

@media screen and (max-width: 292px){
	.footerdata3{
		display: none;
	}
	
	.searchForm{
		width: 90%;
	}
}